[2020-01-29 17:48] MartinKavik opened #1 "Why Grass & Rust framework integration"
Hi @connorskees,

I'm a core member of the frontend framework [Seed](https://seed-rs.org/). I'm looking for a SASS library that I can integrate into Seed projects and yours looks like a good fit.
Could you answer these questions please:
- What's the difference between Grass and other pure Rust SASS libs like [rsass](https://github.com/kaj/rsass)?
- Do you plan to implement all SASS specs?
- When d

[2020-01-29 23:21] connorskees commented on #1
Hello @MartinKavik! Thank you for your interest in this project.

For right now, I cannot recommend this library over other implementations. `grass` is only about a month old and does not really compare to a more mature Rust implementations like `rsass`, which was started in 2016. I believe `rsass` is the only other actively maintained implementation written purely in Rust.

Having said this, assu

[2020-01-30 09:38] MartinKavik commented on #1
- Very nice!

- Context:

  - We have two quickstarts (aka project templates for Seed) - the first one uses only Rust, but it's too simple and many important features are missing; The second one uses Webpack and PostCSS to compile Tailwind and generate Rust file with typed CSS classes and there are some JS scripts e.g. for prerendering.

  - I want to write a new Rust-only quickstart as a superior

[2020-02-29 21:38] connorskees commented on #1
Hi @MartinKavik! After just a month of work, `grass` is now passing `1,210` out of `5,093` sass spec tests on a default run and `2,796` out of `5,085` spec tests when pretending to be `libsass`.

The major features remaining (listed in roughly the same order I intend to triage them) are:
[code]

`grass` is still a decent ways away from being able to compile Bootstrap. Bootstrap 4 relies on `@exten

[2020-03-01 12:53] MartinKavik commented on #1
Hi, I follow your progress, good job!
I'm working on a production app, where we use Bootstrap, let me know once BS is compilable, I can test it immediately 🙂

---

Do you plan to support both SCSS and SASS? (I use only SCSS, but I'm curious).

---

I was thinking about it again. I want to use it in Rust code - `cargo-make` scripts or `bundle.rs` or from new Rust dev server (probably `Actix`).

The

[2020-03-01 21:18] connorskees commented on #1
The sass specification currently contains about 27 tests dedicated to testing the indented syntax. I *am* planning on implementing it; however, it is a very low priority. I don't think it will be that difficult to implement, though -- `grass` currently differs from the dart implementation in that it includes a tokenization step, which should make the work required to parse the indented syntax as e

[2020-03-02 11:58] MartinKavik commented on #1
Cool!

It would be nice to have access to that struct in the near future. It can be very "raw" and ugly with big note "It will change!" - I would use it internally in my Seeder project so I'll be able to test it and maybe I'll discover some patterns for future official public API.

[2020-03-03 15:49] MartinKavik commented on #1
I've just found out that [sass-rs](https://github.com/compass-rs/sass-rs) doesn't support functions (according to its README and my problems with `map.get`).
Are there some general problems with supporting functions? (Or does `grass` already handle functions / it's in your todo list?)

[2020-03-04 02:52] connorskees commented on #1
What kind of function are you referring to?

So far functions have been implemented in
- `@function`
- builtin functions

The module system has not yet been implemented, so I think `map.get` will not work for a while, but the architecture for builtin functions is very robust and `map-get` should be available as soon as maps are properly parsed. I've mostly held off on implementing the module syste

[2020-03-04 09:39] MartinKavik commented on #1
Probably built-in ones according to your description 🙂 I was just surprised that functions like `map.get` don't work with the currently most mature SASS library for Rust. So I thought I'll let you know so you can use it for "marketing purposes" and another reason for me to looking forward to `grass`.

It sounds cool, but I don't know where I would like to use it now.

[2020-03-10 14:54] MartinKavik opened #2 "docs.rs failed to build grass-0.3.0"
- https://docs.rs/crate/grass/0.3.0
- https://docs.rs/crate/grass/0.3.0/builds/226208
- https://crates.io/crates/grass/  (missing link `Documentation`)

[2020-03-16 20:28] connorskees commented on #2
Thanks for pointing this out!

This actually seems to be due to a regression in the rust compiler. I've made an issue on the rust repo, and I think for now there just might not be docs unless there's a way to configure that they be built with the stable compiler.

[2020-03-16 20:53] connorskees commented on #2
I figured out a temporary workaround for this bug, one can now find the docs here, https://docs.rs/grass/0.3.2/grass/

[2020-03-16 20:53] #2 closed

[2020-04-02 06:28] connorskees commented on #1
Hi @MartinKavik! After another month of work, `grass` is now passing `1,719` out of `5,093` sass spec tests. Notable improvements include `@each`, `@while`, `@if/@else if/@else`, maps and their associated functions, `!global`, `@content`, unit arithmetic/conversions, builtin string and list functions, a complete rewrite of value parsing,  and a complete rewrite of the tokenization step.

My focuse

[2020-04-08 03:04] connorskees opened #3 "Investigate using IndexMap to represent SassMap"
Currently, the map type is implemented as a vector of key-value pairs, which means that insertion, lookup, and removal are all O(n). In addition, construction of map literals is O(n^2).

I was initially planning to implement a better structure for the SassMap ad hoc, but it seems like [this structure](https://github.com/bluss/indexmap) would be a good fit instead.

This issue is a reminder as I do

[2020-04-08 07:35] MartinKavik commented on #3
(Note - we use `IndexMap` on multiple places in Seed - and so far no problems with API or functionality.)

[2020-04-12 04:29] connorskees commented on #1
Hi @MartinKavik! I have an API question.

I've spent the last few days integrating error handling with [codemap](https://docs.rs/codemap/0.1.2/codemap/), and I am very close to something I would consider an MVP.

I was wondering, as a consumer of the library, how would you like errors to be exposed? Right now, errors are tightly coupled with codemap and only accessible by converting them into a st

[2020-04-12 11:04] MartinKavik commented on #1
I would like to display errors:
- On the browser overlay (something like Webpack's [devServer.overlay](https://webpack.js.org/configuration/dev-server/#devserveroverlay)).
- In the terminal.

So `String` should be good enough, but it would be nice to add into that string also path and position to the error: e.g. `/my_project/style.sass:34:10`.
  - It's the most important thing for the user.
  - So

[2020-04-21 08:53] connorskees opened #4 "Compile Twitter Bootstrap 4"
A 1.0 release of `grass` should be able to compile bootstrap identically to `dart-sass`. The features currently blocking Bootstrap from even compiling are

- [x] `@extend`
- [x] `@keyframes`
- [x] `@supports`
- [x] map as value in map
- [x] strange issue involving color functions and precision (this turned out to be due to a lack of rounding in the output of builtin functions `red`, `green`, and `

[2020-05-02 21:39] connorskees opened #5 "Improve devops"
This implementation is at a point where it makes sense to

- [x] Setup CI (fixed in #10)
- [x] Focus on increasing code coverage (see [grcov](https://github.com/mozilla/grcov)) to at least 85%
  - Ideally we would only increase coverage through the integration tests using SCSS as input
- [x] Implement better benchmarking with criterion and compare to other implementations

[2020-05-03 03:38] connorskees commented on #1
As an update to the progress so far, in April we have
 - *fully* implemented string parsing, interpolation, quoting, and escaping
 - implemented variadic arguments
 - implemented special functions `calc`, `element`, `expression`, `progid:...`, `url`
 - implemented order of operations and refactored completely how operations are handled
 - implemented `@at-root`
 - implemented error messages nearly

[2020-05-04 08:03] MartinKavik commented on #4
Is possible that these improvements allow to compile also [Bulma](https://bulma.io/documentation/customize/)  `.scss` files?

[2020-05-04 14:31] pickfire commented on #4
@MartinKavik @connorskees Is still working on `@extend` which bulma requires.

From what I see from the source code, `scss` is supported too.

[2020-05-05 01:30] connorskees commented on #4
@MartinKavik @pickfire yes that's correct, Bulma is blocked largely on `@extend`. Bulma also appears to use `@keyframes` in 1 place, which is trivially possible to implement right now, but would need to be completely rewritten in the course of implementing `@extend`, so I am holding off on implementing it at the moment.

A possibility could be silently eating `@extend` (maybe print a warning that

[2020-05-05 09:19] MartinKavik commented on #4
Thanks for answer. I will be updating Seed template for new apps in next weeks so I'm just exploring options - there can be Bulma, Bootstrap or nothing and I can change it in the future - don't hurry, great job!

[2020-05-07 06:31] pickfire commented on #4
@connorskees Thanks for the work on this. By the way, are you planning to add a benchmark with the official dart implementation later on?

[2020-05-07 21:02] connorskees commented on #4
@pickfire Is this in reference to https://github.com/connorskees/grass/issues/5? Yes, ideally we would benchmark against [`dart-sass`](https://github.com/sass/dart-sass), [`rsass`](https://github.com/kaj/rsass), [`node-sass`](https://github.com/sass/node-sass), and [`sassc`](https://github.com/sass/sassc).

I've been doing very rough, unscientific comparisons to `rsass` and `dart-sass` using [`hyp

[2020-05-24 20:16] connorskees commented on #4
@pickfire as an update to this, I have finally gotten the chance to implement smallint optimization!

This has been something I've wanted to implement for a very long time, and the improvements from it are very clear. I've done some benchmarking with `hyperfine` on the same machine as my comment above.
[code]

and if you prefer a table,

|           | Time              | Language | Version

[2020-05-25 01:06] pickfire opened #6 "Try using beef"
https://github.com/maciejhirsz/beef is faster than `Cow` in standard library.

[2020-05-25 07:58] pickfire commented on #6
I tried a bit but I got some errors. `the trait bound `std::string::String: std::convert::From<beef::generic::Cow<'_, str, beef::lean::internal::Lean>>` is not satisfied`, the weird thing is that beef already implements `From<String>`.

[2020-05-25 17:17] connorskees commented on #6
Thank you for bringing this up! When I initially changed `Value::to_css_string` and `Value::inspect` to return `Cow`s, I did so very loosely, and we actually were receiving very little benefit from it. I've written a pull request to use `beef` and make better use of `Cow`.

[2020-05-25 20:16] #6 closed

[2020-06-24 15:58] connorskees commented on #4
@MartinKavik `grass` is now able to compile the most recent verison of `bulma-scss`.

I'm still trying to track down an `@extend` bug that results in a combinatorial explosion when extending certain pseudoselectors, but other than that and some extra newlines the output is the exact same as `dart-sass`.

Performance has regressed slightly as a result of implementing `@extend`, but `grass` still ap

[2020-07-04 02:09] connorskees commented on #4
It is now possible to compile `bulma-scss` 100% accurately!*

\* ignoring some newlines

You can play around with it by running,
[code]

There are currently 1 bug and 1 feature blocking bootstrap. The bug being something related to colors and number precision (I think `grass` is too precise!) and the feature being more robust parsing of `@keyframes` (specifically percent selectors). After these tw

[2020-07-04 10:30] MartinKavik commented on #4
Awesome news! I'm just writing the third and the biggest Seed tutorial and I want to use `bulma` and `grass`. It will be published on [seed-rs.org](https://seed-rs.org/).

[2020-07-04 19:08] connorskees commented on #4
I've just release `grass v0.9.3`, which includes a 3x improvement for bulma compile time. With these optimizations, `grass` is now roughly 25% faster than `libsass`+`sassc`

<details>
<summary>
Benchmark results
</summary>

[code]

</details>

(to anyone subscribed to this issue, I'll try to avoid pinging this thread again until `bootstrap` is able to be compiled)

[2020-07-05 03:27] connorskees commented on #4
Sorry to alert everyone so soon, but I was not expecting to finish this tonight!

`grass v.0.9.4` is able to compile the most recent version of twitter bootstrap.

To test it out,
[code]

I'll be leaving this issue open until I can resolve the extra newlines and special cased division.

[2020-07-05 05:49] pickfire commented on #4
@MartinKavik Off-topic, I am wondering if seed will ever look into not using virtual DOM?

[2020-07-05 09:15] pickfire opened #15 "Investigate into using itertools"
Itertools provide `MultiPeek`, a peekable iterator but I don't think they have cursors or the sort. The good thing is that it provides a lot of good stuff like `peeking_take_while`. The downside is I don't see an alternative for `truncate_iterator_to_cursor`.

[2020-07-05 09:35] pickfire opened #16 "Fail to build in release mode"
<details>
<summary>Log</summary>

[code]
</details>

[2020-07-05 10:31] connorskees commented on #16
Was this from `cargo install grass` or did you clone the repository and run `cargo build --release`? Does this error occur deterministically / every time you try to build?

I think the issue may be this line,
[code]
in `Cargo.toml`.

Does commenting it out and running `cargo clean && cargo b --release` work?

[2020-07-05 11:58] pickfire commented on #16
Even `cargo bench` does not work since I think it uses `cargo build --release`. Yes, it works after I commented that out.

[2020-07-05 15:34] connorskees commented on #16
Ah in order to run `cargo bench`, one must additionally specify `--features=bench`. The reason for this is that I'm not sure how to specify dependencies to only be included when running benchmarks, and `criterion` is a massive dependency to the point of making it difficult to run tests.

[2020-07-05 17:53] connorskees commented on #16
That specific line exists for WASM compilation, but seeing as there is a bug in wasm-pack right now that prevents automated uploads anyway, it should be fine to comment that line out by default. I'll publish 0.9.5 at some point today.

[2020-07-06 14:36] connorskees commented on #16
Resolved in https://github.com/connorskees/grass/commit/c952eadc07861b56f95a8bc87ecbb754a0d98579 and published to crates.io as `v0.9.5`

[2020-07-06 14:36] #16 closed

[2020-07-06 22:37] philip-peterson opened #18 "Question: Breakdown of unimplemented features?"
Hi there,

I saw there are a number of outstanding tests that aren't passing. As someone outside to the project, I would love to adopt the library and contribute, but I am wondering what the failing areas are, and what kind of work would be entailed to tackle the remaining parts of the test suite. Maybe the project can have some issues open for major areas of work to be done?

Thanks,
Phil

[2020-07-07 00:40] connorskees commented on #18
Hello! Thank you for your interest in this project.

That is a good idea! I think it might be best to instead create an "outstanding issues" megathread that lists all of the known compilation issues. Creating individual issues for all of them would be a lot!

To add context to the failing tests, roughly 1,600 of them come from `@use`, `@forward`, and the module system, which is currently only impl

[2020-07-07 00:52] philip-peterson commented on #18
Great, looking forward to seeing the breakdown! Will look into the module system to see how complex it looks.

[2020-07-07 01:11] connorskees opened #19 "Known Outstanding Issues Megathread"
This issue serves as a way to keep track of all known compilation issues

### Large features

 - [ ] `@use`, `@forward`, and the module system
    - this alone accounts for 1,600 test failures. I have something in the works to implement this
 - [ ] indented syntax
    - this accounts for 27 test failures
 - [ ] compressed output
 - [ ] CSS imports
    - this is largely related to error messages wh

[2020-07-07 01:12] connorskees commented on #18
@philip-peterson I've copied my personal list to https://github.com/connorskees/grass/issues/19.

[2020-07-07 07:40] pickfire commented on #16
Does adding it to dev-dependencies work?

[2020-07-07 07:56] pickfire commented on #19
@connorskees I am interested to help out on compressed output, are you working on that? If possible, maybe you can write out some mentor instructions?

[2020-07-10 03:18] pickfire opened #21 "Investigate into measureme"
We could add self profiling to grass to find out which part of compilation takes the most time. [measureme](https://github.com/rust-lang/measureme) from rust (also used by boa) would be an interesting option.

https://boa-dev.github.io/2020/07/03/boa-release-09.html

[2020-07-24 19:17] MTRNord opened #26 "var(--global-var) not accepted as a color variable"
I have this simplified example which fails:

[code]

It fails with `Error: $global-color: var(--global-var) is not a color.`

While this indeed isn't it should know that css vars are or can be colors :)

(For a working example take a look at https://github.com/connorskees/grass/issues/26#issuecomment-663709750 )

[2020-07-24 19:25] MTRNord commented on #26
PS. This is valid or atleast works with the compiler used nt eh webpack loader :) Not sure what the sass/scss spec says

[2020-07-24 19:33] connorskees commented on #26
Hello! Thank you for filing this and minimizing the error.

It does appear that both the most recent version of `dart-sass` and `libsass` do not allow this,

dart-sass
[code]

libsass
[code]

The version of `node-sass` I have installed (`4.14.0`) also does not allow this behavior.

Having said that, if the version of Sass that webpack uses allows CSS variables in arbitrary functions, then it certa

[2020-07-24 19:43] MTRNord commented on #26
@connorskees thanks for the quick reply. The var is defined as:

[code]

So the expected output is to have the same result as doing `darken(#fff, 5%)`. Which in webpack results in I think `#F2F2F2`.

The webpack package used is https://www.npmjs.com/package/sass-loader together with https://www.npmjs.com/package/sass as the sass compiler which if I understand it correct is a dart-sass version comp

[2020-07-24 19:47] MTRNord commented on #26
Ok weird the simple version I posted above doesn't work in webpack either but the original does. Let me try to fix my example.

[2020-07-24 19:55] MTRNord commented on #26
So I dont seem to be able to reproduce simple my expeted result yet. I use uikit as a scss lib.

It does `$global-color: #666 !default;` first and I have before its import where this default is defined in a `$global-color: var(--global-color);`

inside the import from uikit where both the `!default` and the `darken` is the darken works like this. It doesn't with webpack if everything is in the sam

[2020-07-24 19:58] MTRNord commented on #26
Also to give you the reallife example: https://github.com/daydream-mx/Daydream/blob/master/static/variable-ovewrites.scss#L13 This import is what imports the darken thing from uikit. (UIKit source: https://github.com/uikit/uikit/blob/develop/src/scss/variables-theme.scss#L517 ). The variable is set in https://github.com/daydream-mx/Daydream/blob/master/static/variable-ovewrites.scss#L8 and the css

[2020-07-24 20:00] connorskees commented on #26
It may be that this is in fact a scoping issue in `grass` related to `!default`. I've a zoom call in a few minutes, but I'll see if I can reproduce the issue from that repo in an hour or so.

[2020-07-24 20:01] MTRNord commented on #26
Ok got a working example.

File a:
[code]

File b:
[code]

File c:
[code]

[2020-07-24 22:06] connorskees commented on #26
I can confirm that this was a bug in `grass`, though this seems not to reproduce on `master`. It does reproduce on the version on `crates.io`. It's likely that this was a scoping bug as only just recently `grass` got feature complete variable scoping. I haven't gotten the chance to reduce this case but will try to add a unit test for this when I get the chance.

Interestingly, your repository actu

[2020-07-24 22:15] MTRNord commented on #26
Awesome :) One step closer to a pure (if you dont count css/js/html in browser) rust web app :D

[2020-07-24 23:30] MTRNord commented on #26
@connorskees fun does on master the example I posted with the multiple file setup work for you? because the original full problem still happens for me with a master build of grass. I do just run `grass static\style.scss dist\style.css` in my repo I had above (the daydream one) but I am on the redesign branch of it (https://github.com/daydream-mx/Daydream/blob/MTRNord/Redesign/static/style.scss ).

[2020-07-24 23:42] connorskees commented on #26
@MTRNord is this the error you see,

[code]

I am also unable to compile this with `dart-sass`, `libsass`, and `node-sass`.

[code]

[2020-07-24 23:47] MTRNord commented on #26
No I am still getting the original one:

[code]

The variable you are missing should have been imported using `@import "../node_modules/uikit/src/scss/variables-theme.scss";` in `variable-ovewrites.scss` which gets loaded before the lines your bottom trace shows. did you switch Daydream branch to `MTRNord/Redesign`? It might be that the master is not perfectly working anymore as work continued in

[2020-07-24 23:49] MTRNord commented on #26
I am also never overwriting `$global-muted-background` So I guess it doesn't get the default from the `@import "../node_modules/uikit/src/scss/variables-theme.scss";` ? As its defined in there

[2020-07-24 23:54] connorskees commented on #26
Ah I can confirm this is a legitimate bug within `grass`. It seems that `dart-sass` only evaluates the values of variables if they are set. A minimal reproduction,

[code]

Thank you so much for pointing this out. I will see if there's an easy fix for this.

[2020-07-24 23:56] MTRNord commented on #26
ah so I am indeed exploiting a "bug"/feature of dart-sass here :D

[2020-07-25 00:30] connorskees commented on #26
@MTRNord I have resolved the `!default` issue, and it should now be possible to compile the `MTRNord/Redesign` branch provided you add this line,

[code]

[2020-07-25 00:36] MTRNord commented on #26
Awesome thanks a lot! It now works also on my side :)

[2020-07-25 00:36] #26 closed

[2020-07-25 16:35] pickfire commented on #18
I think this could be closed.

[2020-07-26 05:15] connorskees opened #29 "Support `@use` and the module system"
This serves as a tracking issue for everything that needs to be implemented in order to support `@use` in a feature-complete manner. This intentionally ignores `@forward` for the time being, though if it appears easy to implement then it will be included here at a later point.

The initial implementation is tracked in #28. With the current patch as is, `grass` is now passing 3,375 tests.

### Buil

[2020-07-26 06:29] pickfire commented on #1
@connorskees Are we aiming to be incremental later on such that we need salsa?

[2020-07-26 06:50] connorskees commented on #1
@pickfire Certainly I've considered `salsa` (and am experimenting with it in another project of mine), but I think for Sass in particular it might not be a good fit. The import model of Sass combined with `@extend` affecting output that comes both before and after make it difficult to incrementally compile Sass.

Switching to a query-based architecture would undoubtedly make parsing more complex a

[2020-07-26 07:02] pickfire commented on #1
Yes, that's the one used in dart-sass, I saw that they have `ImportCache`. Besides, I wonder if switching to async would give benefit for us for parallel compilation.

[2020-07-31 17:16] pickfire opened #31 "Reducing size of Color"
I want to give a try to reduce size of `Color`. Currently,
[code]

Currently,
[code]

It looks quite huge. I wonder if the following is possible.

[code]

This could probably get us to 64 bytes from 216. Or if we split out Hsla from a pointer (Box), we could probably get 32 bytes. I personally think it could be beneficial for cache lines to speed things up, not sure how true is this but we saw per

[2020-08-01 14:23] connorskees commented on #18
Unfortunately my computer restarted while I was writing a response here.

To briefly summarize what I had previously written
 - `grass` should have a near-feature-complete implementation of the module system within a week or two, presumably putting it 1-2 *years* ahead of `libsass` in that regard
 - there remains additional work that needs to be done for `@media`, `@at-root`,  `@keyframes`, and `@

[2020-08-01 14:23] #18 closed

[2020-08-01 14:37] connorskees commented on #31
The code that handles colors is indeed some of the oldest and in a deep need of refactoring. If I remember correctly, it is necessary to store `hsl` alongside `rgb` due to the precision loss when converting `hsl` colors to `rgb`. I believe even with arbitrary precision, the conversion from `hsl` to `rgb` back to `hsl` will still be off somewhat. Something like `hue(hsl(4.5678901, 1, 1))` should re

[2020-08-01 15:35] pickfire commented on #31
`dart-sass` keeps all of them https://github.com/sass/dart-sass/blob/6565b45a6ce17380839af3ce166365595a1fbdc9/lib/src/value/color.dart#L16-L56 but I believe we can calculate it lazily without storing it. `libsass` on the other hand only store rgba for rgba color and hsla for hsla color, we could follow this. So I say we can store `enum { colorkind: Rgb | Box<Hsl> (reduce the size if Rgb uses u8),

[2020-08-07 06:36] #29 closed

[2020-08-07 07:01] connorskees commented on #1
@MartinKavik With regard to your earlier comments (in March!) about `map.get`, [`grass` now has full support for the module system](https://github.com/connorskees/grass/pull/28).
[code]

`libsass` is currently in the early stages of being deprecated. I will be interested to see what the outcome of that process means for `grass`.

[2020-08-07 07:54] pickfire commented on #1
Heh, we could add c-bindings to be drop-in replacement for `libsass` and `dart-sass`. But I rather see that we have support for graph caching first to prevent re-parsing the same file, but I will look into compressed output before that first.

[2020-08-07 08:05] connorskees commented on #1
@pickfire The next steps are to rewrite output and support merging media queries such that we may add bootstrap, bulma, materialize et al. to the CI. After that we will want to add support for `@forward` and the indented syntax (which has unfortunate quirks that require special parsing beyond simply emitting indent and dedent tokens). Once those features are supported, we will want to clean up the

[2020-08-12 13:15] connorskees commented on #3
I've tried implementing this a few times, but it seems that the complexity in implementation outweighs any performance gain here. Namely, the comparison between values (e.g. `red == #ff0000`) is difficult to represent using hashes. It is uncertain that using `IndexMap` would even improve performance, and benchmarking has shown that maps in general are quite fast despite the poor algorithmic comple

[2020-08-12 13:15] #3 closed

[2020-08-12 19:54] MidasLamb commented on #4
For me, bootstrap 4.5.2 doesn't compile with version 0.10.0:
[code]

[2020-08-12 20:09] connorskees commented on #4
@MidasLamb You're right! Thank you for bringing this up. The issue is almost certainly related to a bug recently introduced in one of our dependencies. The error was introduced in a bugfix release so cargo is pulling in the broken version. This also broke CI. See https://github.com/connorskees/grass/commit/0c7e2017d5f3e6a1f540d746a138659741e44671 for a recent fix for this. I will release `0.10.1`

[2020-08-12 20:12] MidasLamb commented on #4
@connorskees , great, thanks for the quick response!

[2020-08-12 20:49] connorskees commented on #4
@MidasLamb for now unfortunately it seems that publishing `0.10.1` is blocked on our dependency publishing the patch to crates.io. I've opened an issue there so hopefully we won't have to wait too long.

If you'd like to use `grass` now, you can install it with `cargo install --git https://github.com/connorskees/grass`, which I have confirmed to work with the version of Bootstrap on my machine.

[2020-08-14 19:21] MidasLamb opened #34 "Unable to overwrite a file"
Currently, i'm trying to use cargo make with watch to keep recompiling the scss with grass. But after the first time it fails with:
[code]

The problem seems to be this line:
https://github.com/connorskees/grass/blob/fdf8e6136c86e03ac219777e15f80e5b7520b278/src/main.rs#L194

https://doc.rust-lang.org/std/fs/struct.File.html#method.open

`File::open()` opens the file in read only mode.

[2020-08-14 19:23] MidasLamb commented on #34
I'd like to fix this and create a PR for this if that's ok?

[2020-08-14 19:25] connorskees commented on #34
Sure! That sounds great :) I'll release the patch as `0.10.2` as soon as it's merged

[2020-08-14 19:51] #34 closed

[2020-08-16 01:01] intact opened #37 "broken colors in mixins"
**Minimal Reproducible Example (from Bootstrap 4.1.1)**:
[code]

**`grass 0.10.2` Output**:
[code]

**`dart-sass` Output**:
[code]

[2020-08-16 01:36] connorskees commented on #37
Thank you so much for raising this issue! This appears to be a scoping issue related to function arguments.

A clearer reproduction,
[code]
in which `grass` would incorrectly update the outer `$a` to be `bar` after including the other mixin.

I have just pushed a fix andtest for this in https://github.com/connorskees/grass/commit/a9be64012490417d1c341f830e8268137b3d03c4.

[2020-08-16 02:43] connorskees commented on #37
The fix for this has been published to crates.io as version `0.10.3`. Thank you for such an easily reproducible report!

https://crates.io/crates/grass/0.10.3

[2020-08-16 02:43] #37 closed

[2020-08-18 00:13] connorskees commented on #15
The `truncate_iterator_to_cursor` function was implemented specifically for use in `grass`. Without that functionality it would be much more tedious to implement `url(...)` and `min(...)/max(..)` parsing.

It would be difficult to justify bringing in the entirety of itertools for functionality that we are not currently using. In general I would prefer to keep our dependencies as small as possible.

[2020-08-18 00:13] #15 closed

[2020-08-20 03:23] thedodd commented on #1
Hey there @connorskees, just wanted to say that the work here is definitely outstanding! Excellent work. The error reporting is quite good as well. Thanks for all the work on this.

[2020-08-20 19:52] thedodd opened #38 "API improvement for grass::from_path"
Hey, once again I am very pleased with how far this project has come! Keep up the good work.

I wanted to suggest an API improvement to `grass::from_path`. There are definitely a few ways to do this, however in a use case of mine, I am dealing with a potentially cross-platform FS path. So, either a `&Path` or an `AsRef<Path>` might be a nice improvement here. Currently, the parameter just needs to

[2020-08-20 22:54] connorskees commented on #38
In fact, [`grass` did originally have this API](https://github.com/connorskees/grass/blob/aea4235c9ba6ec613fc1168d5d58995a6683f142/src/lib.rs#L262). A dependency we use to track files/spans uses `String`, so it was easiest to just switch to only using `String` as well. In practice, Sass files must be valid utf8, so the only place in which a path may theoretically be invalid utf8 is when passed to

[2020-10-12 15:41] MrJohz opened #44 "@use cannot be used for the same module within different modules"
**Minimal Reproducible Example**:
Consider the three files, `main.scss` (the root module), `utils.scss` (which provides some utility variables/mixins), and `other.scss` (which also uses the utilities):
[code]

**`grass` Output**:
[code]

**`dart-sass` Output**:
[code]

From what I can tell, in `dart-sass`, each module has its own scope for `@use` imports, but `grass` does not.  As a user, the `dar

[2020-11-16 06:46] vallentin opened #45 "Imports not ordered correctly when using url"
I notice that the readme mentions "css imports" still remaining. So this might just be a case that hasn't been implemented yet. However, I took a quick look at the imports test cases, and nothing jumped to my eye, so I thought I'd report it anyways.

The `@import url("...")` is not moved to the top after other `@import "..."`s have been resolved. The contents of the other imports thereby appear be

[2020-11-16 07:38] connorskees commented on #45
Thank you for your report! This is a known issue, but so far I had considered it a low priority, as I thought it was more of a cosmetic error, and would not affect the functionality in this way.

This had originally been blocked on a large refactor, but I was able to find a workaround for this bug in f92a0714347e89eb70ca116ce68b39d39bb6958e. I'll try to release this as a bugfix version once I trac

[2020-11-16 08:51] connorskees commented on #45
I believe this error should be fixed in the newest version of grass, [`0.10.40`](https://crates.io/crates/grass). Please let me know if you run into any further issues!

[2020-11-16 08:51] #45 closed

[2020-11-16 10:48] vallentin commented on #45
That's what I expected

Me too, I was quite confused until I checked MDN.

Just updated, and everything works as expected now. Thank you so much!

[2020-12-06 16:47] Keats commented on #19
It looks like it's just missing compressed output to be a good replacement to sass-rs? Would you consider this library ready @connorskees ?

[2020-12-10 15:25] batisteo commented on #1
I'm still interested why you went on creating a new lib instead of contributing to `rsass`. They could be a lot of reasons, but I'd like to know your motivations, at least back then.

[2020-12-10 17:41] pickfire commented on #1
rsass have different aims, `grass` aims not to use any parser libraries but `rsass` uses `nom`.

[2020-12-10 21:15] connorskees commented on #1
@batisteo this project largely began as a way for me to learn more about Sass. As pickfire said, this project aims to have as few dependencies as possible (and, also, I do not like parser combinators).

[2021-01-03 06:28] connorskees commented on #19
@Keats I think it is *close* to being ready! There's basically the same underlying issue preventing a number of features that I would like to resolve before I am willing to call the library ready. I'd like to get this library over the finish line in the first quarter of 2021, assuming I have enough free weekends.

I think, though, if given the explicit warning that the library is experimental and

[2021-01-03 07:58] Keats commented on #19
Nice! I'll make it an opt-in feature of the next version of Zola. The listed features are pretty niche I think so it shouldn't cause issues for most users I think and I can finally drop compass soon-ish.

[2021-01-03 15:38] pickfire commented on #19
cc @kdy1 who may be interested for https://github.com/swc-project/swc/pull/950

[2021-02-07 16:22] elkowar opened #46 "More flexibility in import resolution"
For my usecase, I'm applying some additional preprocessing to the scss source. This works well with the from_string way of loading a file, but it does not allow me to apply the same preprocessing to files that are _imported_ in that main scss file.

My proposed solution would be to add a trait, let's call it `ImportLoader` or whatever, which specifies a single function that takes a filepath and re

[2021-02-07 16:25] undefinedDarkness commented on #46
This would be very handy to have

[2021-02-07 20:30] elkowar commented on #46
Alternatively, this could also be a simple `Box<dyn Fn(&'a Path) -> String>` stored in the Options which could be applied to all file load operations. A `FileLoader` trait may allow for more flexibility in the future, although I couldn't think of any more thing that it _could_ do here. Thus the simple Function may be cleaner.

[2021-02-08 11:06] cipriancraciun commented on #46
I was just about to submit a similar feature request.  :)

My reason for such a feature is though somewhat different:  currently I'm using the `sass-rs` crate (based on the "original" C library) to compile the CSS as part of the `build.rs` workflow;  thus in onder to have `cargo build` or `cargo run` detect any changes in the dependencies, which now includes the initial SCSS files, I need to know

[2021-02-11 03:32] connorskees commented on #46
I really like this idea! This has been partially implemented in a fork [here](https://github.com/chris-morgan/grass), and I am waiting for the author to submit a PR.

It is possible this feature will be a breaking API change, but I'd like to avoid that if possible.

[2021-03-21 00:31] GoldsteinE opened #47 "[feature request] "Built-in" modules"
Hi!
I would like to be able to specify fake module "load path", which just uses in-memory `&str`. My use case is generating syntax highlighting CSS via syntect and then embedding it into an SCSS file, but it could also be useful for providing "standard library"-like features when embedding SCSS compiler.

[2021-03-21 17:06] pickfire commented on #47
Currently you can configure that using `Options::load_path` but that still requires separate file, most likely can be done using separate file. We might need to have another file resolver if we want to have this feature, may have extra cost in complexity I believe. But internally it stores stuff as `codemap::File` so I guess it shouldn't be that hard?

[2021-05-06 11:42] Keats commented on #19
@connorskees is this project still active?

[2021-07-24 23:23] connorskees commented on #4
The next release of `grass` will have byte-for-byte accurate output for bootstrap v5.0.2, [verified by CI](https://github.com/connorskees/grass/runs/3148995449).

Additionally, I have run a script to perform this check for the last 2,500 commits of bootstrap and have resolved all the differences (largely strange handling of newlines). This commit range includes all commits of bootstrap 4 and 5.

I

[2021-07-24 23:23] #4 closed

[2021-07-25 08:10] connorskees commented on #19
hey @Keats, yes this project has recently come back to life. I had to take a hiatus at the beginning of the year, but I am hoping to wrap this project up. I have made a number of improvements that should resolve many of the concerns I had earlier.

This project should be fine to use in a production setting. I have verified that `grass`' output is byte-for-byte the same with `dart-sass` for the las

[2021-07-25 09:41] pickfire commented on #19
@connorskees I think compressed output is not as good as the original one yet. There are quite some optimizations that we could do. Also, I think we can do better maybe. So not sure if you want to mark that as checked.

[2021-07-25 13:59] connorskees commented on #19
@pickfire We actually have a pretty good amount of compressed output-parity. I've just pushed up a commit adding support for compressed number and list values. I think the number of bytes we could further remove is quite small and will not affect most users.

For reference, the features of `dart-sass`'s compressed output are enumerated [here](https://github.com/sass/dart-sass/blob/a10d7c677dd90f9f

[2021-07-30 15:45] najamelan opened #49 "Bug in @use (idempotency)"
**Minimal Reproducible Example**:
[code]

[code]

[code]

**`grass` Output**:
[code]

**`dart-sass` Output**:
[code]

[2021-07-30 15:54] connorskees commented on #49
Thanks for flagging! I think this might be related to #44. I'll see if I can find a fix for this tonight.

[2021-07-30 16:06] Keats commented on #5
Can you use dart-sass for the spec rather than Ruby like https://github.com/kaj/rsass does? Ruby is a pain

[2021-07-30 16:31] connorskees commented on #5
Sure, I assume you mean using the `--impl dart-sass` flag to the Ruby spec runner? I'm not aware of any way to run the spec suite without Ruby. In my personal dev I don't use this flag because it adds too much noise -- `dart-sass` also checks for error spans, which causes a lot of spurious failures.

I did some analysis of failing tests this morning actually. Seems most failures are coming from `c

[2021-07-30 17:20] Keats commented on #5
It's on npm: https://github.com/kaj/rsass/blob/master/check_spec#L32-L37
I don't have bundle etc but I can run the test suite there

[2021-07-31 02:53] connorskees commented on #44
Hello, thank you for such a nice test case. I have resolved this in https://github.com/connorskees/grass/commit/d101a36f0ccf8bbd286fcbf13cff9b08e3d25363 and added two tests. Sorry for letting this sit for so long; I was unable to work on this library for quite some time. I've not decided how exactly I want to release this (minor or bugfix), but I will ping this issue when this fix is released to c

[2021-07-31 02:53] #44 closed

[2021-07-31 02:53] connorskees commented on #49
This has been resolved in https://github.com/connorskees/grass/commit/d101a36f0ccf8bbd286fcbf13cff9b08e3d25363. I will update this thread again when the fix has been released to crates.io. Thanks for your report!

[2021-07-31 02:53] #49 closed

[2021-07-31 03:23] connorskees commented on #5
Would you just like this added to the readme?

The full command is
[code]
I'll note this appears to execute significantly slower than the Ruby spec runner.

[2021-07-31 06:34] Keats commented on #5
It would be great. It might be slower but since I never managed to get the ruby sass spec running it's still better for me.

[2021-07-31 14:58] connorskees commented on #5
Added in https://github.com/connorskees/grass/commit/c86b5f82e9a07ffd2a1e62838cd84fbbaaa6157f

[2021-08-08 14:51] chinedufn opened #50 "Exposing statements (`Vec<Stmt>`)"
Hey!

I'm considering using `grass` for a project and would like to get access to some information that grass does not currently expose.

I saw in the README:

So if what I'm asking for goes against the project's goals that's totally fine and I can just fork.

## Problem

I write my HTML in Rust and would like to prevent typos when dealing with CSS. For example:

[code]

In order to do this, my bu

[2021-08-08 15:43] connorskees commented on #50
Hello,

Thanks for the feature request! I'll keep this usecase in mind in the future -- I would like to someday expose a lot of the internals of this library. I would really like to see a post-CSS-like API implemented on top of this library.

Unfortunately, for right now I can't make that struct public. It is subject to too much change. In addition, I don't think it would be exactly what you want.

[2021-08-08 15:54] connorskees commented on #50
Unrelated to this feature, converting the selector `.cool-class` to `MyClassEnum::CoolClass` seems a bit dubious as it's possible for a class `.coolClass` to exist as well, which would presumably be emitted with the same name. I'm not really sure of a good solution to that problem, bar changing the former example to something like `MyClassEnum::CoolHyphenClass` or changing the API completely to be

[2021-08-08 16:03] chinedufn commented on #50
My personal solution here stems from me not wanting the name `.coolClass` to even be possible in the first place.

So, I', just going to fail if you use capital letters (as well as if you violate any other lints).

[2021-08-08 16:04] connorskees commented on #50
Ah, that makes sense. Though, what about `.coolclass` and `.cool-class`? Same conflict, though potentially less likely

[2021-08-08 16:08] chinedufn commented on #50
Yeah for sure it's an assume. But I don't foresee anything like this coming up that won't be easily solved at build time.

I.e. before actually generating the `MyClassEnum` I'll probably have some sort of `HashMap<LowercaseString, Vec<Occurrence>>`  (at least conceptually.. might not look like that when I really implement it).

And so if the map had `<coolclass, vec![occurence1, occurence2]>` in i

[2021-08-08 16:11] chinedufn commented on #50
Ah didn't even see this comment

https://github.com/connorskees/grass/issues/50#issuecomment-894815629

Sweet, thanks for the consideration!!

[2021-08-08 16:11] #50 closed

[2021-08-19 01:15] connorskees commented on #44
Fix released in `0.10.7`

[2021-08-19 01:15] connorskees commented on #49
Fix released in `0.10.7`

[2021-09-15 19:55] jdanyow opened #52 "Importing .css files with @use"
Should it be possible to import a plain css file with `@use` as described in the [sass docs](https://sass-lang.com/documentation/at-rules/use#loading-css)?

[code]
[code]

Potentially solved by #46

[2021-09-15 20:27] connorskees commented on #52
Hello, yes this should be possible with both `@use` and `@import`. This is the top of my list to implement at the moment. The tricky part here is that I believe this requires writing a distinct parser for CSS. I am thinking this may be possible to implement over the weekend.

[2021-09-19 20:11] ryanbarry opened #53 "compressed output is eliding zeros"
**Minimal Reproducible Example**:
[code]

**`grass` Output**:
(with style set to `compressed`)
[code]

**`dart-sass` Output**:
(with style set to `compressed`)
[code]

the output _does_ match dart-sass when they both have style set to `expanded`

[2021-09-19 20:34] connorskees commented on #53
Hello, thank for this report. This has been resolved in https://github.com/connorskees/grass/commit/a6eb1fb88a5cdf0be6ebf3aa50fc3247ed63df6c. This fix will be released in `0.10.8` later today, or tomorrow.

[2021-09-19 22:04] ryanbarry commented on #53
awesome, such quick turnaround! also, grass is great, thanks for putting it together!

[2021-09-20 23:10] jdanyow commented on #52
Appreciate all the hard work you’re doing!

[2021-09-21 01:36] connorskees commented on #53
This has been published to crates.io as `v0.10.8`. Thanks again for such a nice report!

[2021-09-21 01:36] #53 closed

[2021-09-22 19:37] jdanyow commented on #46
This would be especially handy in scenarios like the following where we're importing an npm package. We're currently using parcel to build scss which uses node's module resolution algorithm but would switch to grass asap once we can replicate node module resolution via this new flexibility feature.

https://github.com/microsoft/atlas-design/blob/e9c3ca98b4d5f9b23ac8fd9afcc1c9fb246b2fa2/css/src/cor

[2021-11-08 22:50] hironichu opened #54 "Working WASM version for Browsers/Deno"
Hello,

Today as I was looking for a way to compile Sass in my project, I was annoyed to not being able to use any npm module with Deno because of some breaking changes, so I decided to use Grass and compile it into wasm to use the WebAssembly module, turns out after many tries it worked,

I had to do some edit to the lib.rs file in order to compile it without error, but I am sure it's not breakin

[2021-11-25 02:48] dnaka91 commented on #19
Hey thanks for this awesome crate!

I'm curious where the indented syntax is on your plan, time wise?

In my projects I mostly use Bulma instead of Bootstrap and they only provide the indented SASS syntax instead of SCSS.

Would love to jump off the `sass-rs` crate and use `grass` in the future, the indented syntax support currently being my only blocker.

[2022-02-03 22:41] #46 closed

[2022-04-07 15:46] dhlolo opened #56 "Can make 'grass::from_string_with_file_name' as pub?"
As title, I need use grass in my custom project, there are some complicated path calculation need to do, such as custom alias rules. But found that 'grass::from_string_with_file_name' can not be used.

[2022-04-10 02:39] connorskees commented on #56
Hello,

I am happy to do this, though I am interested a bit more in your specific use case. That file name should only be used in error messages when the error occurs in the main file. Is there any reason you wish to change this? Perhaps you are looking for [`grass::Options::fs`](https://docs.rs/grass/latest/grass/struct.Options.html#method.fs), which will allow you write code to intercept imports

[2022-04-26 11:28] dhlolo commented on #56
I saw that [grass::Options::fs](https://docs.rs/grass/latest/grass/struct.Options.html#method.fs) needs a 'Fs' as param. I just want to implement a alias importer for '@scss/...', is there a simple example?

[2022-05-04 16:12] dhlolo commented on #56
Actually I am working on custom [importers](https://github.com/sass/libsass/blob/master/docs/api-importer.md) like libsass in rust.

[2022-05-31 09:30] jdato opened #57 "@include with non-relative paths"
I've come across an issue with the library when trying to import paths that were non relative to the `scss` root file.

This illustrates the issue:
[code]

This is the code that leads to the behavior:

[code]

So when trying to execute the former I run into:
[code]

Is this expected behavior?

[2022-05-31 13:48] connorskees commented on #57
Hello,

Thank you for reporting this and for including a failing test. I can confirm this is a bug, and I have found a fix that should release in a bugfix version some time today.

In the meantime, I have pushed up the fix to master in e2c32a6. If you would like this change immediately, it should be possible to use `grass = { git = "https://github.com/connorskees/grass" }` in your `Cargo.toml`.

[2022-06-16 13:08] CanadaHonk opened #58 "WASM build failing"
Hey, nice project. When trying to compile for WASM with `cargo build --features wasm-exports --release`, I get these errors. Couldn't find it reported anywhere but sorry if already known.
[code]

[2022-07-12 18:04] Nemo157 opened #59 "Non-`Send` error type is restrictive"
Having a non-sendable error type prevents composing it with type-erasing error carriers like `anyhow`:

[code]

[2022-08-08 15:24] blackPeppper opened #60 "how mush faster ?"
[code]

this sass code is complied in

![Screenshot_6](https://user-images.githubusercontent.com/93441520/183453178-30b9f916-03e8-4c62-9854-4930006eac79.png)

how mush time does it takes with you sir

[2022-08-08 16:35] connorskees commented on #60
Hello,

I've run this benchmark against `sass` and `grass` on a very slow Windows laptop. `grass` was installed using `cargo install grass` and `sass` was installed using `npm i -g sass`.

`grass` is about 3x faster:

`hyperfine "grass foo" "sass foo"`

![image](https://user-images.githubusercontent.com/39542938/183467765-b5c29d94-f1eb-4f40-be5b-d975539adde2.png)

If you are using a different impl

[2022-08-09 08:28] blackPeppper commented on #60
amazing !!!
Thanks for helping i am use the same implementation of sass but i wondering is just because it written rust they fast like that

[2022-08-09 08:30] blackPeppper commented on #60
and why not merge your work with this repo
https://github.com/kaj/rsass

[2022-08-10 13:51] connorskees commented on #60
This project was primarily started to learn about the implementation of Sass compilers. It would be non-trivial to merge this implementation with a different compiler.

[2022-08-10 13:51] #60 closed

[2022-09-02 12:24] astraw opened #61 "publish new release"
The fix in e2c32a66de62a103444cfd65ab8d930fd01d9dee fixes an issue I was having with paths. Could you publish a new release with this to crates.io? Thanks much!

[2022-09-02 21:36] connorskees commented on #61
Hello,

Thank you for filing this issue. I have just published `0.11.1` to crates.io.

[2022-09-02 21:36] #61 closed

[2022-09-03 18:30] elkowar opened #62 "Expose SassErrorKind as public"
In my project (https://github.com/elkowar/eww), I already have a error reporting infrastructure and error rendering system which defines how errors for non-scss stuff looks. It'd be very nice if I could integrate grass errors into that code.

For this, the `SassErrorKind` field of `SassError` and the Type itself would need to be public. That way, I could access the Location and Span information of

[2022-09-03 22:46] connorskees commented on #59
Hello,

I have changed `Rc<io::Error>` to `Arc<io::Error>`, which should make the error type `Send`. I will update and close this issue when this change has been released to crates.io.

[2022-09-03 23:47] connorskees commented on #62
This is a reasonable ask. I've exposed a public enum `grass::ErrorKind` and a public method `grass::Error::kind` for accessing this type. This change has been published to crates.io in `0.11.2`.

[2022-09-03 23:47] connorskees commented on #59
This change has been released to crates.io as `0.11.2`.

[2022-09-03 23:47] #59 closed

[2022-09-03 23:47] connorskees commented on #58
Thank you for this report. This should be resolved in the most recent release, `0.11.2`. The WASM build has been somewhat neglected -- I should probably add some level of check in CI to prevent the build from becoming broken again.

[2022-09-03 23:47] #58 closed

[2022-09-04 00:40] #62 closed

[2022-09-10 18:53] prabirshrestha opened #63 "add support to include_sass macro to autocompile sass files and include it in the binaries"
Most of the template engines doesn't support css/sass files. Would be great if there was `include_sass_str!("./style.sass")` and `include_sass_bytes!("./sytle.sass")` so that we can easily embed the compiled version of the file without creating a `build.rs` file.

Looking to something similar to this https://crates.io/crates/include-flate.

[2022-10-11 18:20] colbyn opened #64 "Unnecessary use of `Path` objects in `Options` API (and makes the API significantly harder to use)"
This [api](https://github.com/connorskees/grass/blob/master/src/lib.rs#L204) is kinda frustrating and the lifetimes are unnecessary, it should something akin to
[code]

This is more akin to how APIs typically work in the rust std. The overhead is probably insignificant, and makes the `Options` API significantly easier to use, and lets your end-users pass in anything thats convertible to e.g. a `Pa

[2022-10-19 05:13] guoyunhe opened #65 "npm package is out-dated"
I saw the npm version is 0.10.0 published two years ago. Can you publish the latest version for npm?